3-Capas/Service References/WSCamiones/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="InsOriginDestino">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Calle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Numero" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Colonia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Ciudad" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Estado" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CP" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsOriginDestinoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsOriginDestinoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsCargamento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdRuta" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Peso" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsCargamentoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsCargamentoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InsOriginDestinoSoapIn">
    <wsdl:part name="parameters" element="tns:InsOriginDestino" />
  </wsdl:message>
  <wsdl:message name="InsOriginDestinoSoapOut">
    <wsdl:part name="parameters" element="tns:InsOriginDestinoResponse" />
  </wsdl:message>
  <wsdl:message name="InsCargamentoSoapIn">
    <wsdl:part name="parameters" element="tns:InsCargamento" />
  </wsdl:message>
  <wsdl:message name="InsCargamentoSoapOut">
    <wsdl:part name="parameters" element="tns:InsCargamentoResponse" />
  </wsdl:message>
  <wsdl:portType name="serviceSoap">
    <wsdl:operation name="InsOriginDestino">
      <wsdl:input message="tns:InsOriginDestinoSoapIn" />
      <wsdl:output message="tns:InsOriginDestinoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsCargamento">
      <wsdl:input message="tns:InsCargamentoSoapIn" />
      <wsdl:output message="tns:InsCargamentoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="serviceSoap" type="tns:serviceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsOriginDestino">
      <soap:operation soapAction="http://tempuri.org/InsOriginDestino" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsCargamento">
      <soap:operation soapAction="http://tempuri.org/InsCargamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="serviceSoap12" type="tns:serviceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsOriginDestino">
      <soap12:operation soapAction="http://tempuri.org/InsOriginDestino" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsCargamento">
      <soap12:operation soapAction="http://tempuri.org/InsCargamento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="service">
    <wsdl:port name="serviceSoap" binding="tns:serviceSoap">
      <soap:address location="http://localhost:63794/service.asmx" />
    </wsdl:port>
    <wsdl:port name="serviceSoap12" binding="tns:serviceSoap12">
      <soap12:address location="http://localhost:63794/service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>